/*
Light Pink - color: #E0C4F2;
Mid Pink - color: #8850BF;
Dark Pink - color: #5A378C;
Mid Purple - color: #392259;
Dark Purple - color: #190F26;
*/

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.card a:link {
  color: black;
  text-decoration: none;
}

.card a:visited {
  text-decoration: none;
}

.card a:hover {
  text-decoration: none;
}

.card a:active {
  text-decoration: none;
}

.card {
  color: black;
  background-color: white;
  border: 2px solid #190F26;
  border-radius: 5px;
  box-shadow: 8px 8px 5px #190F26;
}

.card-header{
  background-color: #392259;
  color: white;
}

.card-header h5{
  margin: 0;
  font-size: 125%;
  padding: 5px;
}

.card-footer {
 clear: both;
}
