extends layout

block content
  .row.page.header
    .col-lg-12
      h1 Add a new Hop
      .row
        .col-xs-12.col-md-10
          form.form-horizontal(action="", method="post", role="form")
            .form-group
              label.col-xs-10.col-sm-2.control-label(for="name") Name
              .col-xs-12.col-sm-10
                input#name.form-control(name="name")
            .form-group
              label.col-xs-10.col-sm-2.control-label(for="type") Type
              .col-xs-12.col-sm-10
                input#type.form-control(name="type")
            .form-group
              label.col-xs-10.col-sm-2.control-label(for="alpha") Alpha
              .col-xs-12.col-sm-10
                input#alpha.form-control(name="alpha")
            .form-group
              label.col-xs-10.col-sm-2.control-label(for="style") Style
              .col-xs-12.col-sm-10
                input#style.form-control(name="style")
            .form-group
              label.col-xs-10.col-sm-2.control-label(for="substitute") Substitute
              .col-xs-12.col-sm-10
                input#substitute.form-control(name="substitute")
            .form-group
              label.col-xs-10.col-sm-2.control-label(for="flavour") Flavour
              .col-xs-12.col-sm-10
                input#flavour.form-control(name="flavour")
            button.btn.btn-default.pull-right Add New Hop
         .col-xs-12.col-md-4
