extends layout

block content
  #banner.page-header
    .row
      .col-lg-6
        h1 Hops List
  .row
    .col-xs-12
      form.form-horizontal(action="/hops/new", method="get", role="form")
        .form-group
          button.btn.btn-default.pull-left Add A New Hop
  .row
    .col-xs-12.col-sm-8
      .row
        each hop in hops
          .col-sm-6.col-md-4.mb-4
            .card.h-100
              .card-header
                h5.card-title= hop.name
              .card-body
                p.card-text Alpha - #{hop.alpha}
                p.card-text Style - #{hop.style}
                p.card-text Substitute - #{hop.substitute}
                p.card-text Flavour - #{hop.flavour}
              .card-footer
                <a href="#" class="btn btn-light">delete</a>
                <a href="#" class="btn btn-light">update</a>
    .col-xs-12.col-sm-4
      p.lead A list of all the hops used in the brewing process
