doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= title
    <!-- CSS only -->
    link( href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous")
    link(rel='stylesheet', href='/bootstrap/css/amelia.bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/my-style.css')
  body
    .navbar.navbar-default.navbar-expand-md.navbar-fixed-top
      .container-fluid
        .navbar-header
          a.navbar-brand Brewing Information
          button.navbar-toggle(type='button', data-bs-toggle='collapse', data-bs-target='#navbar-main')
            span.icon-bar
            span.icon-bar
            span.icon-bar
        #navbar-main.navbar-collapse.collapse
          ul.nav.navbar-nav
            li.nav-item
              a(href='/malts/') Malts
            li.nav-item
              a(href='/hops/') Hops
            li.nav-item
              a(href='/strains/') Yeasts
            li.nav-item
              a(href='/sugars/') Sugars
            li.nav-item
              a(href='/styles/') Beer Styles
    .container
      block content

      footer
        .row
          .col-xs-12
           small &copy; Peter Osborne 2021
  script(src="/javascripts/jquery.js")
  <!-- script(src="/javascripts/scripts.js") -->
  <!-- script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous") -->
