extends layout

block content
  #banner.page-header
    .row
      .col-lg-6
        h1 Malts List
  .row
    .col-xs-12
      form.form-horizontal(action="/malts/new", method="get", role="form")
        .form-group
          button.btn.btn-default.pull-left Add A New Malt
  .row
    .col-xs-12.col-sm-8
      .row
        each malt in malts
          .col-sm-6.col-md-4.mb-4
            .card.h-100
              .card-header
                h5.card-title= malt.name
              .card-body
                p.card-text Lovibond - #{malt.lovibond}
                p.card-text SRM - #{malt.srm}
                p.card-text EBC - #{malt.ebc}
                p.card-text Potential - #{malt.potential}
                p.card-text Description - #{malt.description}
              .card-footer
                <a href="#" class="btn btn-light">delete</a>
                <a href="#" class="btn btn-light">update</a>
    .col-xs-12.col-sm-4
      p.lead A list of malts that can be used in the brewing process
