extends layout

block content
  #banner.page-header
    .row
      .col-lg-6
        h1 Yeast strains
  .row
    .col-xs-12.col-sm-8
      .row-list-group
        each strain in strains
          .col-xs-12.col-sm-6.list-group-item
            h4
              a(href="/yeasts/#{strain}")= strain
    .col-xs-12.col-sm-4
      p.lead A list yeast strains that can be used in the brewing process
