extends layout

block content
  #banner.page-header
    .row
      .col-lg-6
        h1 A list of Beer Styles
  .row
    .col-xs-12.col-sm-8
      .row
        each style in styles
          .col-sm-6.col-md-4.mb-4
            .card.h-100
              .card-header
                h5.card-title= style.style
              .card-body
                p.card-text #{style.comparison}
              .card-footer
                <a href="/style/#{style._id}" class="btn btn-light">View</a>
    .col-xs-12.col-sm-4
      p.lead A list of beer styles and information about them
