style: String
ibu: String
srm: String
original: String
final: String
abv: String
carbination: String
impression: String
aroma: String
appearance: String
flavour: String
mouthfeel: String
comments: String
history: String
ingredients: String
comparison: String


extends layout

block content
  .row.page.header
    .col-lg-12
      h1 New Malts
      .row
        .col-xs-12.col-md-10
          form.form-horizontal(action="", method="post", role="form")
            .form-group
              label.col-xs-10.col-sm-2.control-label(for="name") Name
              .col-xs-12.col-sm-10
                input#name.form-control(name="name")
            .form-group
              label.col-xs-10.col-sm-2.control-label(for="type") Type
              .col-xs-12.col-sm-10
                input#type.form-control(name="type")
            .form-group
              label.col-xs-10.col-sm-2.control-label(for="lovibond") Lovibond
              .col-xs-12.col-sm-10
                input#lovibond.form-control(name="lovibond")
            .form-group
              label.col-xs-10.col-sm-2.control-label(for="srm") SRM
              .col-xs-12.col-sm-10
                input#srm.form-control(name="srm")
            .form-group
              label.col-xs-10.col-sm-2.control-label(for="ebc") EBC
              .col-xs-12.col-sm-10
                input#ebc.form-control(name="ebc")
            .form-group
              label.col-xs-10.col-sm-2.control-label(for="potential") Potential
              .col-xs-12.col-sm-10
                input#potential.form-control(name="potential")
            .form-group
              label.col-sm-2.control-label(for="description") Description
              .col-sm-10
                textarea#description.form-control(name="description", rows="5")
            button.btn.btn-default.pull-right Add New Malt
         .col-xs-12.col-md-4
