extends layout

block content
  #banner.page-header
    .row
      .col-lg-6
        h1 #{style.style}
  .row
    .col-xs-12.col-sm-8
      p IBU - #{style.ibu}
      p SRM - #{style.srm}
      p Original Gravity - #{style.original}
      p Final Gravity - #{style.final}
      p ABV - #{style.abv}
      p Carbination - #{style.carbination}
      p Impression - #{style.impression}
      p Aroma - #{style.aroma}
      p Appearance - #{style.appearance}
      p Flavour - #{style.flavour}
      p Mouthfeel - #{style.mouthfeel}
      p Comments - #{style.comments}
      p History - #{style.history}
      p Ingredients - #{style.ingredients}
      p Comparison - #{style.comparison}
    .col-xs-12.col-sm-4
      p.lead A list of malts that has be used in the brewing process
