extends layout

block content
  #banner.page-header
    .row
      .col-lg-6
        h1 Sugar List
  .row
    .col-xs-12
      form.form-horizontal(action="/sugars/new", method="get", role="form")
        .form-group
          button.btn.btn-default.pull-left Add A New Sugar
  .row
    .col-xs-12.col-sm-8
      .row
        each sugar in sugars
          .col-sm-6.col-md-4.mb-4
            .card.h-100
              .card-header
                h5.card-title= sugar.sugar
              .card-body.h100
                p.card-text Lovibond - #{sugar.lovibond}
                p.card-text Potential - #{sugar.potential}
                p.card-text Description - #{sugar.description}
              .card-footer.bottom-0
                <a href="#" class="btn btn-light">delete</a>
    .col-xs-12.col-sm-4
      p.lead A list of sugars that has be used in the brewing process
