extends layout

block content
  .row.page.header
    .col-lg-12
      h1 Add a new Sugar
      .row
        .col-xs-12.col-md-10
          form.form-horizontal(action="", method="post", role="form")
            .form-group
              label.col-xs-10.col-sm-2.control-label(for="sugar") Suger name
              .col-xs-12.col-sm-10
                input#sugar.form-control(name="sugar")
            .form-group
              label.col-xs-10.col-sm-2.control-label(for="lovibond") Lovibond
              .col-xs-12.col-sm-10
                input#lovibond.form-control(name="lovibond")
            .form-group
              label.col-xs-10.col-sm-2.control-label(for="potential") Potential
              .col-xs-12.col-sm-10
                input#potential.form-control(name="potential")
            .form-group
              label.col-sm-2.control-label(for="description") Description
              .col-sm-10
                textarea#description.form-control(name="description", rows="5")
            button.btn.btn-default.pull-right Add New Sugar
         .col-xs-12.col-md-4
