extends layout

block content
  #banner.page-header
    .row
      .col-lg-6
        h1 A list of yeasts
  .row
    .col-xs-12.col-sm-8
      .row
        each yeast in yeasts
          .col-sm-6.col-md-4.mb-4
            .card.h-100
              .card-header
                h5.card-title #{yeast.make} #{yeast.code}
              .card-body
                p.card-text Name - #{yeast.strain}
                p.card-text Brewery - #{yeast.brewery}
              .card-footer
                <a href="#" class="btn btn-light">delete</a>
                <a href="#" class="btn btn-light">update</a>
    .col-xs-12.col-sm-4
      p.lead A list of yeasts that has be used in the brewing process
