extends layout

block content
  .row.page.header
    .col-lg-12
      h1 New Malts
      .row
        .col-xs-12.col-md-10
          form.form-horizontal(action="", method="post", role="form")
            .form-group
              label.col-xs-10.col-sm-2.control-label(for="code") Yeast Code
              .col-xs-12.col-sm-10
                input#code.form-control(name="code")
            .form-group
              label.col-xs-10.col-sm-2.control-label(for="strain") Yeast Strain
              .col-xs-12.col-sm-10
                input#strain.form-control(name="strain")
            .form-group
              label.col-xs-10.col-sm-2.control-label(for="make") Make of the Yeast
              .col-xs-12.col-sm-10
                input#make.form-control(name="make")
            .form-group
              label.col-xs-10.col-sm-2.control-label(for="brewery") Brewery yeast from
              .col-xs-12.col-sm-10
                input#brewery.form-control(name="brewery")
            button.btn.btn-default.pull-right Add New Malt
         .col-xs-12.col-md-4
